# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Pytest
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Alembic cache
*.db

# Logs
*.log